body,
html {
    margin: 0;
}

.container {
    height: 100vh;
    min-width: 1000px;
    font-family: Arial, Helvetica, sans-serif;
    display: grid;
    box-sizing: border-box;
    grid-template-columns: 1fr 5fr;
    overflow: hidden;
}

.sidebar {
    background-color: #1892d3;
    grid-column: 1 / 2;
    padding-left: 1rem;
    display: flex;
    flex-direction: column;
    gap: 10px;

    ul {
        list-style: none;
        padding: 0;
        width: 100%;
    }

    a {
        color: white;
        text-decoration: none;
    }

    .item {
        font-size: 17px;
        font-weight: bolder;
        margin: 15px;
        height: 25px;

        span {
            font-size: 25px;
        }
    }

    .title {
        margin-top: 20px;
        font-weight: bolder;
        width: 100%;
        grid-row: 1 / 2;
        display: flex;

        .title-icon {
            font-size: 45px;
            height: 100%;
        }

        .title-text {
            font-size: 20px;
            padding-top: 15px;
        }
    }
}

.main {
    background-color: #e1e8f0;
}

nav {
    background-color: white;
    height: 150px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    padding-top: 20px;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(2, 1fr);
    row-gap: 20px;
    column-gap: 15px;
    justify-content: start;

    .search-block {
        grid-column: 1 / 6;
        grid-row: 1 / 2;
        width: 100%;
        display: grid;
        grid-column: repeat(6, 1fr);
    }

    .search-label {
        font-size: 20px;
        padding-top: 10px;
        grid-column: 1 / 2;
        text-align: center;
    }

    .search-input {
        grid-column: 2 / 6;
        margin-top: 5px;
        height: 30px;
        background-color: #e1e8f0;
        border: none;
        border-radius: 20px;
        margin-left: -20px;
    }

    .notification {
        grid-column: 8 / 9;
        grid-row: 1 / 2;
        text-align: right;
        color: black;
        font-size: 25px;
        padding-top: 10px;
        font-weight: bolder;
    }

    .user-profile {
        grid-column: 9 / 10;
        grid-row: 1 / 2;
        text-align: center;
    }

    .user-name {
        grid-column: 10 / 12;
        grid-row: 1 / 2;
        padding-top: 10px;
        font-weight: bolder;
        font-size: 20px;
    }

    .user-profile--large {
        grid-column: 1 / 2;
        grid-row: 2 / 3;
        text-align: right;
        padding-bottom: 10px;
    }

    .profile-infos {
        grid-column: 2 / 6;
        padding-top: 10px;
    }

    .btn-new {
        grid-column: 9 / 10;
    }

    .btn-upload {
        grid-column: 10 / 11;
    }

    .btn-share {
        grid-column: 11 / 12;
    }

    .nav-btn {
        margin-top: 20px;
        height: 32px;
        font-weight: bolder;
        background-color: #1892d3;
        color: white;
        border: none;
        border-radius: 15px;
        cursor: pointer;
    }
}

main {
    display: grid;
    column-gap: 15px;
    padding-left: 15px;
    padding-right: 15px;
    min-width: 920px;
    grid-template-columns: repeat(4, 1fr);
}

.projects {
    grid-column: 1 / 4;

    .projects-list {
        display: grid;
        column-gap: 15px;
        row-gap: 15px;
        grid-template-columns: repeat(2, 1fr);

        .projects-list__item {
            height: 160px;
            background-color: white;
            box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.25);
            border-radius: 5px;
            border-left: 6px solid #f1b329;
            padding: 15px;

            .item_body {
                height: 110px;
            }

            .item__foot {
                text-align: right;
                font-size: 30px;
            }
        }
    }
}

.profile-img {
    border-radius: 50%;
}

.articles {
    grid-column: 4 / 5;
    min-height: 650px;
    display: flex;
    flex-direction: column;
    row-gap: 20px;

    .annonces {
        height: 50%;
        min-height: 300px;
        padding-top: 15px;
    }

    .annonces__body,
    .trending__body {
        margin-top: 20px;
        box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.25);
        background-color: white;
        padding: 10px;
        border-radius: 5px;
    }

    .trending {
        height: 50%;
        min-height: 300px;

        .trending__body {
            height: 79%;
            display: flex;
            flex-direction: column;
            row-gap: 15px;

            .trending-item {
                display: flex;
                column-gap: 5px;
            }

        }

        .trending-username {
            font-weight: bold;
        }
    }
}

.item__title {
    font-size: 18px;
    font-weight: bolder;
}